#banner
  .banner_content
    %h1 File FileCabinet
    %p A life's work. Organized, always
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Minions ipsum bananaaaa jiji potatoooo bee do bee do bee do me want bananaaa! Belloo! Poopayee la bodaaa butt. Tank yuuu! tulaliloo poulet tikka masala tatata bala tu hahaha. Daa butt underweaaar bananaaaa. Baboiii wiiiii gelatooo poopayee tulaliloo para tú poopayee potatoooo bee do bee do bee do jeje. Hana dul sae chasy baboiii poulet tikka masala jiji wiiiii poopayee tank yuuu! Potatoooo.

#bottom_cta
  .wrapper
    %h2 Go ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path	
